.nomstock-com .simpli-message-wrap {
	position: fixed;
	bottom: 50%;
	left: 50%;
	margin-left: -25%;
	width: 50%;
	z-index: 10;
	text-align: center;
}
.nomstock-com .simpli-message-wrap ul {
	margin: 0;
}

.nomstock-com #simpli-main .menu-icon {
	background: url(images/admin-icon32.png) no-repeat;
}


.icon32-posts-simpli_frames_form {
	background: url(images/admin-icon32.png) no-repeat;
}


.nomstock-com #simpli-main .meta-box-sortables {
	margin: 0 8px;
}

.nomstock-com #simpli-main #poststuff .column-primary {
	width: 72%;
	padding: 0;
}
.nomstock-com #simpli-main #poststuff .column-secondary {
	width: 28%;
	float: right;
	padding: 0;
}
.nomstock-com #simpli-main #poststuff .postbox {
	min-width: auto;
}

.nomstock-com #simpli-main #message {
	margin: 15px 0 0 0;
}
.nomstock-com #simpli-main #message p {
	line-height: 100%;
}

.nomstock-com #simpli-main img.loading {
	display: block;
	position: absolute;
	top: 7px;
	right: 7px;
}

.nomstock-com #simpli-main img.waiting {
	display: none;
}
.nomstock-com #simpli-main img.submit-waiting {
	vertical-align: middle;
	margin-left: 5px;
}

.nomstock-com #simpli-donate-link img {
	display: block;
	margin: 5px auto 13px auto;
}

.nomstock-com #simpli-main input[type="text"] {
	margin: -5px 0 0 0;
}
.nomstock-com #simpli-main input[type="checkbox"] {
	margin: 7px 0 0 0;
	vertical-align: bottom;
}
.nomstock-com #simpli-main table tr td,
.nomstock-com #simpli-main table tr th {
	line-height: 1em;
	padding: 10px;
}
.nomstock-com #simpli-main table tr td {
	padding: 2px 0 0 0;
}
.nomstock-com #simpli-main table tr td:first-child {
	padding-top: 0;
}
.nomstock-com #simpli-main table th {
	width: 160px;
	line-height: 32px;
	padding: 0;
}
.nomstock-com #simpli-main label.label-radio {
	display: block;
	margin: 5px 5px 0 0;
	float: left;
}

/*
.nomstock-com #simpli-main #settings-reset,
.nomstock-com #simpli-main #network-settings-reset,
.nomstock-com #simpli-main #filters-reset,
.nomstock-com #simpli-main #domain-mapping-reset {
	float: left;
	margin-right: 10px;
}

.nomstock-com #simpli-main #ssl_port_label {
	display: inline-block;
	padding-top: 10px;
}
.nomstock-com #simpli-main #ssl_host {
	width: 70%;
}
.nomstock-com #simpli-main #exclusive_https_row label {
	padding-top: 5px;
}

.nomstock-com #simpli-main #domain_mapping .http_scheme,
.nomstock-com #simpli-main #domain_mapping .https_scheme {
	width: 30px;
	padding: 10px;
}
.nomstock-com #simpli-main #domain_mapping .https_scheme {
	width: 35px;
}
.nomstock-com #simpli-main #domain_mapping .http_domain .label,
.nomstock-com #simpli-main #domain_mapping .https_domain .label {
	display: block;
	float: left;
	text-align: right;
	padding-right: 2%;
}
.nomstock-com #simpli-main #domain_mapping input {
	width: 96%;
	padding-left: 2%;
	padding-right: 2%;
}
.nomstock-com #simpli-main #domain_mapping .add {
	display: block;
	height: 16px;
	width: 16px;
	overflow: hidden;
	text-indent: -1000em;
	float: left;
	background: url(images/add.png) no-repeat 50% 50%;
}
.nomstock-com #simpli-main #domain_mapping .remove {
	display: block;
	height: 16px;
	width: 16px;
	overflow: hidden;
	text-indent: -1000em;
	float: left;
	background: url(images/delete.png) no-repeat 50% 50%;
}
.nomstock-com #simpli-main #domain_mapping .arrow .label {
	display: block;
	height: 16px;
	width: 16px;
	overflow: hidden;
	text-indent: -1000em;
	background: url(images/arrow_right.png) no-repeat 50% 50%;
	margin: 0 auto;
}

.nomstock-com #simpli-main #regex-help {
	display: none;
}
.nomstock-com table.regex-help {
	border-collapse: collapse;
}
.nomstock-com table.regex-help tr {
	border: 1px solid #000;
	border-width: 1px 1px 0 0;
}
.nomstock-com table.regex-help td, table.regex-help th {
	border: 1px solid #000;
	border-width: 0 0 1px 1px;
}
.nomstock-com #simpli-main #secure_filter_row p.description {
	margin: .5em 10px 0 0;
	width: auto;
}
.nomstock-com #simpli-main #ssl_proxy_row p.description {
	width: 65%;
}
.nomstock-com #simpli-main #domain_mapping td {
	padding: 10px 0;
}
.nomstock-com #simpli-main #domain_mapping td.arrow {
	padding: 8px 0;
}
*/
.nomstock-com #simpli-main #admin_menu_row label {
	display: inline;
}

.nomstock-com #simpli-main #secure_filter_row textarea {
	width: 95%;
	height: 120px;
}

.nomstock-com #simpli-main #admin_menu_row fieldset {
	margin-top: 5px;
}

.nomstock-com #simpli-main input[type="checkbox"] {
	float: left;
}
.nomstock-com #simpli-main p.description {
	margin: .5em 0 0 .5em;
	width: 75%;
	display: block;
	float: left;
	line-height: 1.2em;
}

